*{
    background-image: url("https://i.pinimg.com/originals/e3/f0/e5/e3f0e5c522ff199aad29fb6a11a78194.png");
}
.container-footer{
    margin-top: 15%;

}
.container{
    margin-left: 16%;
}
.navbar{
    padding: 2%;
}